# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# IDE
.idea

# Yarn
yarn-error.log

# Dynamodb
.dynamodb

# Tests
coverage

# env files
.env
.env.test

# file compressor build directory
build

output/*
tmp
# ignore draw.io backup file
*.bkp
